body {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.header {
  background-color: #fcc827;
  padding-bottom: 26px;
  border: 2px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.header-offer {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin-top: 19px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.header-title {
  margin-top: 40px;
  font-size: 60px;
  font-family: "Laila", serif;
  font-weight: 700;
}

.header-links {
  margin-top: 50px;
}

.header-link {
  color: #000;
  font-family: "Roboto Mono";
  font-size: 40px;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #000;
  text-align: center;
  padding: 0px 12px;
  text-decoration: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user {
  margin-left: 25px;
  text-align: center;
}

.menu {
  background-image: url(/img/Side\ bar.png);
  background-repeat: no-repeat;

  position: fixed;
  left: -332px; 
  top: 15%;
  height: 100vh;
  width: 332px;
  transition: right 0.3s ease; 
  z-index: 1000;
}
.menu-button {
  cursor: pointer;
  position: relative;
}
.menu.active {
    transition: right 0.3s ease; 
  left: 0;
  top: 15%;
}
.menu-btn__icon {
  position: absolute;
  right: 13px;
  top: 39px;

}
.container-circle {
  position: fixed;
  left: 0;
  top: 23%;
  transform: translateY(-50%);
  z-index: 999;
}

.circle {
  width: 130px;
  height: 130px;
  background-color: black;
  position: fixed;
  left: -60px;
  transform: translateY(-50%); 
  border-radius: 50%; 
  overflow: hidden; 
 
}

.menu-link {
  margin-top: 26px;
  padding-top: 41px;
  padding-left: 45px;
}

.menu-creat-test {
  color: #fff;
  font-family: "Rufina" sans-serif;
  font-weight: 700;
  background-color: #000;
  width: 241px;
  display: block;
  padding: 12px 0px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.menu-title {
  margin-top: 25px;
  margin-left: 104px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 400;
}

.link {
  color: #000;
  text-decoration: none;
  padding-left: 20px;
  margin-right: 75px;
}

.list {
  list-style-type: none;
  color: #000;
  font-family: "Roboto Serif";
  font-size: 16px;
  width: 241px;
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}
.menu-test-view {
  cursor: pointer;
}
.button-container {
  display: flex;
  gap: 2px;
  align-items: center;
}
.link-10{margin-right: 65px;}